---
import { fetchUserData } from "../lib/api/fetchUserData";
import { fetchReadme } from "../lib/api/fetchReadme";
import App from "../lib/components/App.svelte";
import "../app.css";

const user = await fetchUserData();
const readme = await fetchReadme();

const data = { user, readme };
---

<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Security Policy -->
  <meta
   http-equiv="Content-Security-Policy"
   content="default-src 'self'; img-src 'self' https://cdn.ayakobot.com https://cdn.discordapp.com https://discordapp.com https://images-ext-1.discordapp.net https://images-ext-2.discordapp.net http://*.shields.io https://*.shields.io https://wakatime.com https://komarev.com https://top.gg https://media.giphy.com https://codestats-readme.avior.me https://raw.githubusercontent.com https://github-readme-stats.vercel.app data: blob:; media-src 'self' https://cdn.ayakobot.com blob:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.youtube.com https://s.ytimg.com; style-src 'self' 'unsafe-inline'; font-src 'self' data:; connect-src 'self' https://www.youtube.com https://cdn.discordapp.com https://discord.com; frame-src 'self' https://www.youtube.com; worker-src 'self' blob:;"
  />

  <!-- Primary Meta Tags -->
  <title>Lolo's Desktop</title>
  <meta name="title" content="Lolo's Desktop" />
  <meta
   name="description"
   content="Welcome (back?)! Learn about me and my work while exploring this interactive web desktop."
  />
  <meta name="author" content="Lolo" />
  <meta
   name="keywords"
   content="arch linux, windowland, desktop environment, portfolio, svelte, astro, interactive, web desktop"
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Lolo's Desktop" />
  <meta
   property="og:description"
   content="Welcome (back?)! Learn about me and my work while exploring this interactive web desktop."
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="Lolo's Desktop" />
  <meta
   property="twitter:description"
   content="Welcome (back?)! Learn about me and my work while exploring this interactive web desktop."
  />
 </head>
 <body>
  <App client:load {data} />
 </body>
</html>
